<% const title ="List" %>
    <nav>
        <div class="nav-wrapper " style="padding-left:20px;padding-right:20px">
            <a href="/" class="brand-logo">Todo <%= title %> </a>
            <a href="mobile-demo" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="add-item">Add Item</a></li>

            </ul>
        </div>
    </nav>