  body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.loginForm {
  width: 30%;
  border: 1px solid #00B7FF; 
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 80px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signupForm {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #00B7FF; 
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 80px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


a {
  color: #00B7FF;
}
