<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc3/angular-material.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js"></script>
    <script src="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc3/angular-material.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>
    <style>
        body {
            background-color: #ffffff;
        }

        #SignupContent {
            max-width: 600px;
            background-color: white;
            border-radius: 4px;
        }

        @media screen and (max-width: 600px) {
            #SignupContent {
                height: 100%;
            }

            #materialToolbar {
                padding: 10px;
            }
        }
    </style>
</head>

<body>
    <div ng-controller="DemoCtrl" ng-cloak="" class="md-inline-form" ng-app="MyApp" layout="column" layout-sm="row"
        layout-align="center center" layout-align-sm="start start" layout-fill>
        <md-content id="SignupContent" class="md-whiteframe-10dp" flex-sm>
            <md-toolbar flex id="materialToolbar">
                <div class="md-toolbar-tools" style="background-color:#00b0ff "> <span flex=""></span> <span
                        class="md-headline" align="center">
                        <%= title %>
                    </span> <span flex=""></span> </div>
            </md-toolbar>
            <div layout-padding="">
                <div></div>
                <!-- ng-submit="user.submit(userForm.$valid)" enctype="multipart/form-data" -->
                <form name="userForm" method="POST" action="/index/member/<%= session.userid %>/change-password">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex-gt-sm="">
                            <label>OldPassword</label>
                            <input name="oldpassword" type="password" minlength="8"
                                maxlength="100" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/" required>
                            <div ng-if="userForm.password.$dirty" ng-messages="userForm.password.$error" role="alert"
                                multiple>
                            </div>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex-gt-sm="">
                            <label>NewPassword</label>
                            <input name="newpassword"  type="password" minlength="8"
                                maxlength="100" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/" required>
                            <div ng-if="userForm.password.$dirty" ng-messages="userForm.password.$error" role="alert"
                                multiple>
                            </div>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex-gt-sm="">
                            <label>ConfirmPassword</label>
                            <input name="confirmpassword"  type="password" minlength="8"
                                maxlength="100" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/" required>
                            <div ng-if="userForm.password.$dirty" ng-messages="userForm.password.$error" role="alert"
                                multiple>
                            </div>
                    </div>
                    <md-button class="md-raised md-primary" style="width:100%; margin: auto; background-color: #00b0ff;"
                        type="submit">Submit</md-button>

                </form>


            </div>
        </md-content>
    </div>
    <footer>
        <%- include( './partials/footer.ejs' ) %>
    </footer>
    <script>
        var app = angular.module('MyApp');
        app.controller('DemoCtrl', function ($scope) {
            $scope.user = {
                first_name: '',
                last_name: '',
                gender: '',
                age: '',
                email: '',
            };
        });
        app.directive("compareTo", function () {
            return {
                require: "ngModel",
                scope: {
                    otherModelValue: "=compareTo"
                },
                link: function (scope, element, attributes, ngModel) {

                    ngModel.$validators.compareTo = function (modelValue) {
                        return modelValue == scope.otherModelValue;
                    };

                    scope.$watch("otherModelValue", function () {
                        ngModel.$validate();
                    });
                }
            };
        });
    </script>

</body>

</html>