<div class="collection"  style="height: 100%; width: 300px; padding: 0px;">
    <h6 class="collection-item">Book Dashboard</h6>
    <a href="/admin/list-book" class="collection-item" id="booklist">View All Books</a>
    <a href="/admin/add-book" class="collection-item">Add Book</a>
    <!-- <a href="/admin/update-book" class="collection-item">Modify Book</a>
    <a href="#!" class="collection-item">Delete Book</a> -->

    <h6 class="collection-item">Member Dashboard</h6>
    <a href="/admin/getmember-list" class="collection-item">View Member</a>
    <a href="#!" class="collection-item">Add Modify Member</a>
    <a href="#!" class="collection-item">Modify Block Member</a>

    <h6 class="collection-item">Issuance Dashboard</h6>
    <a href="#!" class="collection-item">View Issuances</a>
    <a href="#!" class="collection-item">Issue Book</a>
    <a href="#!" class="collection-item">Return Book</a>
</div>